In [1]:
person = {
    "first": "Brian",
    "last": "Huynh",
    "email": "huynh2102@gmail.com"
}

In [2]:
people = {
    "first": "Brian",
    "last": "Huynh",
    "email": "huynh2102@gmail.com"
}

In [3]:
people = {
    "first": ["Brian", "Corey", "John"],
    "last": ["Huynh", "Schafer", "Doe"],
    "email": ["huynh2102@gmail.com", "coreymschafer@gmail.com", 'johndoe@gmail.com']
}

In [4]:
people['email']

['huynh2102@gmail.com', 'coreymschafer@gmail.com', 'johndoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com
2   John      Doe        johndoe@gmail.com

In [8]:
df['email']

0        huynh2102@gmail.com
1    coreymschafer@gmail.com
2          johndoe@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.count

<bound method DataFrame.count of    first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com
2   John      Doe        johndoe@gmail.com>

In [11]:
df[['last', 'email']]

      last                    email
0    Huynh      huynh2102@gmail.com
1  Schafer  coreymschafer@gmail.com
2      Doe        johndoe@gmail.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.iloc[[0, 1]]

   first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com

In [14]:
df.iloc[0]

first                  Brian
last                   Huynh
email    huynh2102@gmail.com
Name: 0, dtype: object

In [15]:
df.iloc[[0, 1], 2]

0        huynh2102@gmail.com
1    coreymschafer@gmail.com
Name: email, dtype: object

In [16]:
df

   first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com
2   John      Doe        johndoe@gmail.com

In [17]:
df.loc[0]

first                  Brian
last                   Huynh
email    huynh2102@gmail.com
Name: 0, dtype: object

In [18]:
df.loc[[0, 1]]

   first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com

In [19]:
df.loc[[0, 1], ["last", "email"]]

      last                    email
0    Huynh      huynh2102@gmail.com
1  Schafer  coreymschafer@gmail.com

In [20]:
df

   first     last                    email
0  Brian    Huynh      huynh2102@gmail.com
1  Corey  Schafer  coreymschafer@gmail.com
2   John      Doe        johndoe@gmail.com

In [21]:
df['email']

0        huynh2102@gmail.com
1    coreymschafer@gmail.com
2          johndoe@gmail.com
Name: email, dtype: object

In [22]:
df.set_index('email')

                         first     last
email
huynh2102@gmail.com      Brian    Huynh
coreymschafer@gmail.com  Corey  Schafer
johndoe@gmail.com         John      Doe

In [23]:
df.set_index('email', inplace=True)

In [24]:
df

                         first     last
email
huynh2102@gmail.com      Brian    Huynh
coreymschafer@gmail.com  Corey  Schafer
johndoe@gmail.com         John      Doe

In [25]:
df.index

Index(['huynh2102@gmail.com', 'coreymschafer@gmail.com', 'johndoe@gmail.com'], dtype='object', name='email')

In [26]:
df.loc['huynh2102@gmail.com', 'last']

'Huynh'

In [27]:
df.iloc[0]

first    Brian
last     Huynh
Name: huynh2102@gmail.com, dtype: object

In [28]:
df.reset_index(inplace = True)

In [29]:
df

                     email  first     last
0      huynh2102@gmail.com  Brian    Huynh
1  coreymschafer@gmail.com  Corey  Schafer
2        johndoe@gmail.com   John      Doe

In [30]:
df['last'] == 'Doe'

0    False
1    False
2     True
Name: last, dtype: bool

In [31]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [32]:
df[filt]

               email first last
2  johndoe@gmail.com  John  Doe

In [33]:
df.loc[filt, 'email']

2    johndoe@gmail.com
Name: email, dtype: object

In [34]:
# Change name for all column. So this method has a bit inadequacy when we only want to change one field
df.columns = ['email', 'first_name', 'last_name']
df

                     email first_name last_name
0      huynh2102@gmail.com      Brian     Huynh
1  coreymschafer@gmail.com      Corey   Schafer
2        johndoe@gmail.com       John       Doe

In [35]:
#Change name of column into UPPER CASE
df.columns = [x.upper() for x in df.columns]
df

                     EMAIL FIRST_NAME LAST_NAME
0      huynh2102@gmail.com      Brian     Huynh
1  coreymschafer@gmail.com      Corey   Schafer
2        johndoe@gmail.com       John       Doe

In [36]:
#change a specific name of a column
df.columns = df.columns.str.replace('_',' ')
df

                     EMAIL FIRST NAME LAST NAME
0      huynh2102@gmail.com      Brian     Huynh
1  coreymschafer@gmail.com      Corey   Schafer
2        johndoe@gmail.com       John       Doe

In [37]:
df.columns = [x.lower() for x in df.columns]
# Change information of the 3rd row
df.loc[2] = ['John', 'Smith', 'johnsmith@email.com']

In [38]:
#rechange information of 3rd row
df.loc[2,['last_name', 'email']] = ['Wick', 'johnwick@email.com']
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh       NaN
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com      Wick

In [39]:
# Change only one field of data
df.loc[2, 'last_name'] = 'Smith'
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh       NaN
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com     Smith

In [40]:
# Create a filter with a condition
filt = (df['email'] == 'huynh2102@gmail.com')
df[filt]

                 email first name last name last_name
0  huynh2102@gmail.com      Brian     Huynh       NaN

In [41]:
# Now we can get single data from this filt
df[filt]['last_name']

0    NaN
Name: last_name, dtype: object

In [42]:
# Change last name above

df.loc[filt, 'last_name'] = 'Nguyen'
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh    Nguyen
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com     Smith

In [43]:
df['last_name'].str.lower()

0    nguyen
1       NaN
2     smith
Name: last_name, dtype: object

In [44]:
# use 'apply function'
df['email'].apply(len)

0    19
1    23
2    18
Name: email, dtype: int64

In [45]:
# create a function 
def update_email(email):
    return email.upper()

In [46]:
df['email'].apply(update_email)
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh    Nguyen
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com     Smith

In [47]:
# An other way to use apply method
df['email'] = df['email'].apply(update_email)
df

                     email first name            last name last_name
0      HUYNH2102@GMAIL.COM      Brian                Huynh    Nguyen
1  COREYMSCHAFER@GMAIL.COM      Corey              Schafer       NaN
2       JOHNWICK@EMAIL.COM      Smith  johnsmith@email.com     Smith

In [48]:
# Get back data into lowercase by using lambda
df['email'] = df['email'].apply(lambda x: x.lower())
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh    Nguyen
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com     Smith

In [49]:
# check the len of rows and columns, for the row is default
df.apply(len)

email         3
first name    3
last name     3
last_name     3
dtype: int64

In [54]:
# check the len of columns
df.apply(len, axis='columns')

0    4
1    4
2    4
dtype: int64

In [56]:
df['first name'].map({'Corey': 'Doe'})
#df = df.reindex(columns=['first name', 'last name', 'email'])
df

                     email first name            last name last_name
0      huynh2102@gmail.com      Brian                Huynh    Nguyen
1  coreymschafer@gmail.com      Corey              Schafer       NaN
2       johnwick@email.com      Smith  johnsmith@email.com     Smith